# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/
.metadata/
.recommenders/caches/
.recommenders/index/
.recommenders/snipmatch/repositories.config
.recommenders/snipmatch/repositories/http___git_eclipse_org_gitroot_recommenders_org_eclipse_recommenders_snipmatch_snippets_git/.gitignore
.recommenders/snipmatch/repositories/http___git_eclipse_org_gitroot_recommenders_org_eclipse_recommenders_snipmatch_snippets_git/snippets/
.sonarlint/
